@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');


:root {
  --base: #000;
  --level-1: #181823;
  --lgrey: #deecf9;
  --dgrey: #c7e0f4;
  --stronggrey: #5b6876;
  --text: #fff;
  --primary: #5221e6;
  --customgreen: #3cc74e;
  --customblue: #609bff;
  --custompink: #e95d90;
  --custompeach: #fff3e4;
  --customviolet: #fbe4ff;
}

/*--------------------TYPOGRAPHY--------------------*/

.label-1  {
  font-size: 117px;
  font-weight: 400;
}

.title-1  {
  font-size: 78px;
  font-weight: 700;
}

.title-2  {
  font-size: 55px;
  font-weight: 700;
}

.title-3  {
  font-size: 24px;
  font-weight: 700;
}

.title-4  {
  font-size: 18px;
  font-weight: 700;
}

.title-5  {
  font-size: 16px;
  font-weight: 700;
}

.text-1 {
  font-size: 18px;
  font-weight: 400;
}


.text-2 {
  font-size: 16px;
  font-weight: 400;
}

.text-3 {
  font-size: 16px;
  font-weight: 700;
}

.text-4 {
  font-size: 18px;
  font-weight: 700;
}


.btn {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
}

.overline {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}



.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-default  {
  color: var(--text);
  background-color: var(--primary);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-default:hover  {
  color: var(--primary);
  background-color: var(--text);
}

.btn-outline-default  {
  color: var(--primary);
  background-color: transparent;
  border: 1px solid var(--primary);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out ;
}

.btn-outline-default:hover {
  background-color: var(--primary);
  color: var(--text);
}

img {
  max-width: 100%;
}

.figure {
  max-width: 100%;
  margin: 0;
}

body {
  position: relative;
  min-width: 320px;
  font-family: "Sen", sans-serif;
}

body::selection {
  background: #5221e6;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.card {
  height: 100%;
}


.to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 200;
  padding: 15px;
  border: 1px solid var(--text);
  border-radius: 10px;
  outline: none;
  color: var(--text);
  background-color: var(--primary);
  font-size: 36px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.to-top:hover {
  color: var(--primary);
  border-color: var(--primary);
  background-color: var(--text);
}

/*----------------------------header----------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}



.header__link {
  height: 100%;
  padding: 32px 24px !important;
  color: var(--text) !important;
  transition: background-color 0.3s ease-in-out;
}

.header__link:hover {
  background-color: var(--primary);
}

/*----------------------------hero----------------------------*/

.hero {
  padding-top: 219px;
  padding-bottom: 225px;
  color: var(--text);
  background:
  url("../img/hero-image.png") center left/1050px 750px no-repeat,
  url("../img/hero-rect.png") top left/30% 100% no-repeat,
  var(--base);
}

.hero__title  {
  margin-bottom: 32px;
  line-height: 93.84px;
}

.hero__green {
  color: #008C45;
}

.hero__white {
  color: #f4f9ff;
}

.hero__red {
  color: #cd212a;
}

.hero__descr {
  line-height: 27px;
}

/*----------------------------experience----------------------------*/

.section-dark {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--base);
  color: var(--text);
}

.experience__title  {
  margin-bottom: 8px;
}

.experience__descr  {
  margin-bottom: 40px;
  line-height: 66.17px;
}

.experience__label  {
  color: #8491a0;
  line-height: 140.77px;
}

.experience__subtitle {
  margin-bottom: 22px;
}

.experience__green {
  color: var(--customgreen);
}

.experience__blue {
  color: var(--customblue);
}

.experience__pink {
  color: var(--custompink);
}

.experience__text {
  line-height: 24px;
  color: var(--lgrey);
}

/*----------------------------philosophy----------------------------*/

.philosophy {
  background-color: var(--custompeach);
  color: var(--stronggrey);
}

.philosophy__content  {
  padding-top: 120px;
}

.philosophy__title  {
  margin-bottom: 24px;
  color: var(--level-1);
}

.philosophy__text {
  margin-bottom: 24px;
  line-height: 27px;
}

/*----------------------------skillset----------------------------*/


.skillset__title   {
  margin-bottom: 24px;
}

.skillset__text {
  line-height: 27px;
  color: #8491a0;
}

.skillset__item {
  margin-bottom: 48px;
}

.skill-card {
  background-color: var(--base);
}

.skill-card__title  {
  margin-bottom: 12px;
}

.skill-card__text {
  line-height: 24px;
  color:#8491a0 ;
}


#more {
  display: none;
}
